<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<!--
		<appSettings>
			<add key="parentTable" value ="Echipa"/>
			<add key="parentPrimaryKey" value="idEchipa"/>
			<add key="childTable" value ="ModelMasina"/>
			<add key="childPrimaryKey" value="idMasina"/>
			<add key="childForeignKey" value="idEchipa"/>
		</appSettings>
		
	-->
	<appSettings>
		<add key="parentTable" value ="Sofer"/>
		<add key="parentPrimaryKey" value="nrSofer"/>
		<add key="childTable" value ="CascaSofer"/>
		<add key="childPrimaryKey" value="idCasca"/>
		<add key="childForeignKey" value="idSofer"/>
	</appSettings>
	
</configuration>